
#vid1{
    position: absolute;
    right: 0%;
    left: 0%;
    z-index: -1;
    width:100%;
}
#div0{
    display: flex;
    justify-content:center;
    width:100%;
    height: fit-content;
    
}
#div1{
    width: 45%;
    height: 100%;
    margin-top: 10%;
    background-color:#a52a2a;
    border-radius: 30px 0px 30px 0px;
    
}
H1{
    color: white;
    display: flex;
    justify-content: center;
}
#div2{
    margin-left: 27.5%;
    margin-right: 20%;
    margin-bottom: 10%;
}
h3{
    color: #FAFA33 ;
    margin-left: 33%;
}
input{
    font-size: 20px;
    margin-bottom: 2%;
    margin-right: 2%;
}
select{
    font-size: 20px;
    margin-right: 2%;
}
#div3{
    margin-left: 35%;
    margin-right: 35%;
    
}
button{
    font-size: 20px;
    padding: 2%;
    margin-bottom: 10%;
    margin-left: 10%;
    border-radius: 10px;
    background-color: #ffdb58;
    color:brown;
}
#result{
    color:rgb(255, 255, 0);
}
#res1{
    color:rgb(0, 255, 64);
}